a {
  color: var(--primary-black);
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}
a:hover {
  border-bottom: 2px solid black;
}

.faa {
  font-size: 20px;
}

.faa:hover {
  color: blue;
}

.twi:hover {
  color: rgb(62, 156, 194);
}
.insta:hover {
  color: brown;
}
